<!DOCTYPE html>
<html lang="en" ng-app="my-app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-controller="AddCtrl">  
        <input type="number" ng-model='num1'>  
        <input type="number" ng-model='num2'>  
        <button ng-click="sumOfNumbers()">Sum</button>  
        Sum is {{total}}  
        </div>
    <script src="js/angular.min.js"></script>    
    <script src="scripts/condemo.js"></script>
</body>
</html>